{% extends "base.html" %}

{% block head %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>Page3</title>
{% endblock %}

{% block body %}
        <h2>Multiple charts:</h2>
        <div id="line" style="width: 80%; height: 500px;"></div>
        <div id="scatter" style="width: 80%; height: 500px;"></div>

        <script>
        
        var trace1 = {
            x: {{ time_query | tojson }},
            y: {{ query_time | tojson }},
            name: 'Database',
            type: 'scatter'
        };
        var trace2 = {
            x: {{ time_query | tojson }},
            y: {{ redis_time | tojson }},
            name: 'redis',
            type: 'scatter'
        };
        var data = [trace1, trace2];

        Plotly.newPlot('line', data);
        

        var trace1 = {
          x: {{ query_time | tojson }},
          y: {{ query_time | tojson }},
          mode: 'markers',
          type: 'scatter',
          name: 'Database',
          text: {{ time_query | tojson }},
          marker: { size: 12 }
        };

        var trace2 = {
          x: {{ redis_time | tojson }},
          y: {{ redis_time | tojson }},
          mode: 'markers',
          type: 'scatter',
          name: 'Redis',
          text: {{ time_query | tojson }},
          marker: { size: 12 }
        };

        var data = [ trace1, trace2 ];

        var layout = {
          xaxis: {
            range: [ 0.02, 0.08 ]
          },
          yaxis: {
            range: [0.03, 0.1]
          },
          title:'Scatter plot'
        };

        Plotly.newPlot('scatter', data, layout);

        </script>

{% endblock %}
